@import "node_modules/@fontsource/jost/variable.css";

html {
    font: medium / 1.5 "JostVariable";
    color: green;
    color: lime;
    color: hsl(120, 100%, 40%);
    height: 100%;
}

body {
    height: 100%;
    margin: unset;
}

/*.object {
    position: absolute;
}*/

.carrier {
    fill: gray;
}
